:root{
    --max-width: 1200px;
    --border-color:#ccc;
    --text-color:#696969; 
    --letra-lato: 'Lato', sans-serif;
    /*  */
    --header-height:4rem;
    --breakpoints-1: 960px;
    /* Paleta de colores */
    --first-color: #007BDF; 
    --color-border:#DFE0E0;
    --color-alert: #FF3C32;
    /* Variables de apliamiento */
    --z-back:-10; 
    --z-normal:1;
    --z-tooltip:10; 
    --z-fixed:100;
    --z-modal:100;

    /* Variables de tipografia */
    --h1-font-size:2.5rem; 
    --h2-font-size:1.5rem;
    --h3-font-size:1.25rem;
    --body-font-size:.9rem; 
    --small-font-size: .75rem;
    /* Paddign */
    --padding: 3rem;
    --logo-height: 5rem;
}

@media screen and (min-width:640em){
    :root{
        --h1-font-size:2.5rem; 
        --h2-font-size:1.75rem;
        --h3-font-size:1.5rem;
        --body-font-size:1rem; 
        --small-font-size: 1rem;
    }
}

