/* body{
    background: red;
} */

/* .video{ */
    /* height: 0; */
    /* padding-bottom: 56.25%;
    background: orange;
}

.video >iframe,
.video >video{
    position:relative; 
    width: 100%;
    height: 100%;
}

.container{
    width: 75%; */
    /* max-width: 960px;
    min-width: 320px;     */
    /* margin-left: 0;
    margin-right: auto;
    position: relative;
    width: 60vw;
    height: 100vh;
}

.video{
    --unit:5vmax;
    --width:calc(var(--unit)*16); 
    --height:calc(var(--unit)*9); 
    width:var(--width);
    height:var(--height);
    background: red;
} */

/* .video{
    position: relative;
    height: 100%;
    background: red;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 1fr);
    background-color: red;

}

.video iframe{
    grid-column: 1 / span 16;
    grid-row: 1 / span 9;
    width: 100%;
    height: 100%; */
    /* position: absolute; */
/* } */
.container{
    width: 75%;
    max-width: 960px;
    min-width: 320px;
}


img{
    width:100%;
    max-width: 100%;
    height: auto;
}

.img {
    @include ratio(16, 2);
    background: red;
    background: url("https://images.pexels.com/photos/15322829/pexels-photo-15322829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center/ cover;

    @media screen and (min-width: 640px){
        background:url("https://images.pexels.com/photos/12606623/pexels-photo-12606623.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center /cover;
    }
}